.divCarousel {
  margin-top: 5.9vw;
}

.divFormContainer {
  margin-top: 4vw;
}
.divForm {
  margin-left: 10em;
  margin-right: 10em;
}

.containerCard {
  margin-top: 3vw;
  margin-left: 3vw;
  margin-right: 3vw;
}

.divCard {
  width: 25vw !important;
  height: 35vw;
  display: flex;
  text-align-last: center;
  border-color: rgb(191, 191, 191);
}

.divCard:hover {
  border-color: #ffc107;
  color: #ffc107;
}

.imageCard {
  margin-top: 1vw;
  width: 15vw;
  height: 20vw;
}

.divTitle {
  font-size: 1.5vw;
  text-align: center;
}

.divTitleAuthor {
  font-size: 1.4vw;
  color: gray;
  text-align: center;
  margin: 1vw;
}

.divDescription {
  font-size: 1.2vw;
  text-align: center;
}
.divFormInput {
  display: flex;
  align-items: center;
}
.divInput {
  width: 60%;
  height: 97%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ffc107;
  border-radius: 4px;
}
.divButton {
  background-color: #ffc107;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  height: 3.6vw;
  align-items: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
}
.divButton:hover {
  box-shadow: 0 6px 8px 0 rgba(111, 111, 111, 0.24),
    0 9px 25px 0 rgba(111, 111, 111, 0.24);
}
